/* This file bootstraps our application styles.
 * Note: Bootstrap is not installed, using Tailwind CSS instead.
 * If Bootstrap is needed, install it: npm install bootstrap
 */
/* @import "bootstrap/scss/bootstrap"; */