@import 'tailwindcss';

/* Base styles for components */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

/* Header and Footer base styles */
header {
  width: 100%;
  display: block;
}

footer {
  width: 100%;
  display: block;
}

#header,
#footer,
#content {
  width: 100%;
  display: block;
}

/* Component base styles */
.component {
  position: relative;
  display: block;
  width: 100%;
}

.component-content {
  position: relative;
  width: 100%;
}

/* SXA Header and Footer wrapper styles */
.component.sxa-header,
.component.sxa-footer {
  width: 100%;
  display: block;
}

.component.sxa-header .component-content,
.component.sxa-footer .component-content {
  width: 100%;
}

/* Navigation styles */
.component.navigation {
  width: 100%;
  display: block;
}

.component.navigation .menu-mobile-navigate-wrapper {
  display: block;
  width: 100%;
}

.component.navigation .menu-mobile-navigate {
  display: none;
}

.component.navigation .menu-humburger {
  display: none;
}

.component.navigation nav {
  width: 100%;
  display: block;
}

.component.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.component.navigation nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.component.navigation nav ul li a,
.component.navigation nav ul li span {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}

.component.navigation nav ul li a:hover {
  text-decoration: underline;
}

.component.navigation .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.component.navigation .clearfix {
  clear: both;
}

/* Container styles */
.component.container-default {
  width: 100%;
  display: block;
}

.component.container-default .component-content {
  width: 100%;
}

.component.container-default .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Page Content styles */
.component.page-content {
  width: 100%;
  display: block;
}

.component.page-content .component-content {
  width: 100%;
}

.component.page-content .field-content {
  width: 100%;
}

/* Editing mode styles */
.editing-mode {
  position: relative;
}

.prod-mode {
  position: relative;
}

/* Site Layout Structure */
.site-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.site-header {
  width: 100%;
  flex-shrink: 0;
}

.header-content {
  width: 100%;
}

.site-main {
  flex: 1 0 auto;
  width: 100%;
}

.main-content {
  width: 100%;
}

.site-footer {
  width: 100%;
  flex-shrink: 0;
}

.footer-content {
  width: 100%;
}

/* Utility classes */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.clearfix {
  clear: both;
}
